@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}
body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #171129  !important;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #784fcf;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #784fcf;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 0px;
  height: 20px;
  background-image: linear-gradient(#784fcf, #784fcf);
}
 
br
{
  display: none !important;
}
/* register */
.Ifiled svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 9px;
  color: #fff;
}

.Ifiled input,
.Ifiled select,
.Ifiled textarea {
  padding: 26px 52px;
  border: 1px solid #834cd7;
  color: #fff;
  
}
.Ifiled label {
  color: #fff;
  
}
.Ifiled input:focus,
.Ifiled select:focus,
.Ifiled textarea:focus {
  border-color: #834cd7;
  box-shadow: 0 0 0 1px #834cd7;
}
.Ifiled button {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  background-color: transparent;
}
.Ifiled button:hover {
  background-color: transparent;
}
.Ifiled {
  position: relative;
}