@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #171129 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500 !important;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #784fcf;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #361f6a;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 0px;
  height: 5px;
  background-image: linear-gradient(#784fcf, #784fcf);
}

/* register */
.Ifiled svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 9px;
  color: #fff;
}

.Ifiled input,
.Ifiled select,
.Ifiled textarea {
  padding: 26px 52px;
  border: 1px solid #834cd7;
  color: #fff;
}
.Ifiled label {
  color: #fff;
}
.Ifiled input:focus,
.Ifiled select:focus,
.Ifiled textarea:focus {
  border-color: #834cd7;
  box-shadow: 0 0 0 1px #834cd7;
}
.Ifiled button {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  background-color: transparent;
}
.Ifiled button:hover {
  background-color: transparent;
}
.Ifiled {
  position: relative;
}

/* Gradient CSS */
.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background-image: linear-gradient(#1100ff 10%, #ff00f2);
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
}

/* Random CSS for Demo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.content-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 3vw;
  text-align: center;
}

.content p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.buttons a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 10px 2rem;
  margin: 0px 6px;
  border-radius: 25px;
}

.buttons a:nth-child(1) {
  color: #121212;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.buttons a:nth-child(1):hover {
  background: #b7b7b7;
  color: #000;
}

.buttons a:nth-child(2) {
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.buttons a:nth-child(2):hover {
  background: #fff;
  color: #000;
}

@media only screen and (max-width: 700px) {
  .content-parent {
    width: 90%;
  }

  .content h1 {
    font-size: 2rem;
  }

  .buttons a {
    padding: 6px 1rem;
  }
}

@media (max-width: 600px) {
  br {
    display: none;
  }
}
